<html>
<head>
<title> {{ project_name }}</title>
<script type="text/javascript" src="/static/lib/jquery-2.1.4.min.js" > </script>
<script type="text/javascript">
{% block javascript %}
{% endblock %}
</script>
</head>
<body>
{% block header %}
<div align="right"> {% if current_user %} {{current_user.user_name}} {% endif %} </div>
<hr>
{% endblock %}
{% block body %}
{% endblock %}

{% block footer %}
<hr>
<center> about | contact us </center>
{% endblock %}
</body>
</html>