{% extends "base.jinja2" %}
{% block body %}
<center>
    <a href="#" onclick="movies_watched_by_all()"> Delete movies seen by all users </a> <br>
    <a href="#" onclick="movies_watched_by_me()"> Delete movies watched by me </a> <br>
    <a href="#" onclick="all_movies()"> Select from list </a>
 </center>
 <br>
 <hr>
 <table border=1 id="movie_details">
 </table>
 <button id="delete_btn"> Delete </button>
{% endblock %}
{% block javascript %}
function movies_watched_by_all() {
    $.ajax({
        url:"/movies/watched_by_all",
        type:'GET',
        success: function(result) {
            renderMovies(result.movies, true);
            $("#delete_btn").show();
        }
    });
}

function movies_watched_by_me() {
    $.ajax({
            url:"/movies/watched_by_me",
            type:'GET',
            success: function(result) {
                renderMovies(result.movies, true);
                $("#delete_btn").show();
            }
        });
}

function all_movies() {
    $.ajax({
        url:"/movies",
        type:"GET",
        success: function(result) {
            renderMovies(result.movies, true);
            $("#delete_btn").show();
        }
    })
}
$(document).ready(function () {
    $("#delete_btn").hide();
    $("#delete_btn").click(function () {
        selectedMoviesIds = getSelectedMovieIds();
        $.ajax({
            url:"delete_movies",
            type:'POST',
            data: {
                movie_ids_to_delete: JSON.stringify(selectedMoviesIds)
            },
            success: function(result) {
                alert( JSON.stringify(result) );
                movies_watched_by_all();
            }
        });
    });
});
{% endblock %}