{% extends "base.jinja2" %}
{% block body %}
<center>
<a href="users" > select user</a> <br>
<a href="show_movie" > all movies </a> <br>
<a href="#" onclick="request_scan()"> Refresh Movies </a><br>
<a href="/delete" > Delete Movies </a>
</center>
{% endblock %}
{% block javascript %}
function request_scan() {
    $.ajax({
        url: "/scan",
        type: 'GET',
        success: function(result){
            alert(JSON.stringify(result));
        }
    });
}
{% endblock %}
