{% extends "base.jinja2" %}
{% block body %}
<h1 id="movie_count"> </h1>
<input type="text" id="search" placeholder="search"> </input>
<table border=1 id="movie_details">
</table>
{% endblock %}

{% block javascript %}

$(document).ready(
    function () {
    var  movie_list = null;
        $.ajax( {
            url: "/movies",
            method: 'GET',
            success: function (data) {
                movie_list = data;
                $("#movie_count").text(movie_list.length +" movies available.");
                renderMovies(movie_list);
            }
        });

        $("#search").keyup(function () {
            movies = $("#movie_details tr");
            movies = movies.slice(1); //Remove header row
            movies.hide();
            searchStr = $("#search").val().toLowerCase();
            matching_movies = movies.filter(function (row) {
                return $(this).text().toLowerCase().indexOf(searchStr) > -1;
            });
            matching_movies.show();
        });

    }
);
{% endblock %}