{% extends "base.jinja2" %}
{% block body %}
<h1 id="movie_count"> </h1>
<input type="text" id="search" placeholder="search"> </input>
<table border=1 id="movie_details">
</table>
{% endblock %}

{% block javascript %}
function renderMovies(movies) {
    var htmlContent = "<tr> <th> Name </th> <th> size </th> <th> file </th> <th> date_added </th> </tr> \n";
    for(var i=0; i<movies.length; ++i) {
        htmlContent += "<tr>"+
                        " <td> <a href=\"/movie/" + movies[i].movie_id + "\"> "+ movies[i].movie_name + "</a> </td>" +
                        " <td align=\"right\"> " + movies[i].movie_file_size_mb.toFixed(2) + "</td> "+
                        " <td> " + movies[i].movie_file + "</td> " +
                        " <td> " + movies[i].date_added + "</td> " +
                        " </tr> \n";
    }
    $("#movie_details").html(htmlContent);
}

$(document).ready(
    function () {
    var  movie_list = null;
        $.ajax( {
            url: "/movies",
            method: 'GET',
            success: function (data) {
                movie_list = data;
                $("#movie_count").text(movie_list.length +" movies available.");
                renderMovies(movie_list);
                $("#movie_details th").click(getSorterByTableId("movie_details"));
            }
        });

        $("#search").keyup(function () {
            movies = $("#movie_details tr");
            movies = movies.slice(1); //Remove header row
            movies.hide();
            searchStr = $("#search").val().toLowerCase();
            matching_movies = movies.filter(function (row) {
                return $(this).text().toLowerCase().indexOf(searchStr) > -1;
            });
            matching_movies.show();
        });

        function getSorterByTableId(tableId){
            return function() {
                var column_idx = $("#"+tableId+" th").index($(this));
                var new_rows = [];
                new_rows.push( $("#"+tableId+" tr:eq(0)"));
                var rows = $("#"+tableId+" tr:gt(0)");
                this.ascending = !this.ascending;
                rows.sort(function (a, b) {
                    var a_val = $(a).children("td").eq(column_idx).text();
                    var b_val = $(b).children("td").eq(column_idx).text();
                    return (a_val<b_val)?-1:(a_val>b_val?1:0);
                });
                if(!this.ascending) rows = rows.get().reverse();
                for(var i=0; i<rows.length; ++i) { new_rows.push(rows[i]);}
                $("#"+tableId).append(new_rows);
            }
        }
    }
);
{% endblock %}