{% extends "base.jinja2" %}
{% block body %}
<input type="text" id="hostname" placeholder="hostname"> </input>
<input type="text" id="port" placeholder="port"> </input>
<button id="listBtn"> List </button>
<table id="missing" border=1> </table>
<button id="get_missing"> get missing </button>
{% endblock %}

{% block javascript %}
function renderMissing(movies) {
    var htmlContent = "<tr> <th> select </th> <th> Movie Name</th> <th> size </th> <th> Movie File</th> </tr> \n";
    for(var i=0; i<movies.length; ++i) {
        htmlContent += "<tr> <td> <input type='checkbox' value='"+movies[i].movie_id+
        "' class='missing_movie'> </input> </td> <td> "+movies[i].movie_name+ " </td><td> "+movies[i].movie_file_size_mb+" </td><td> "+movies[i].movie_file+"</td> </tr> \n";
    }
    $("#missing").html(htmlContent);
    $("#missing").show();
    $("#get_missing").show();
}

$(document).ready(function() {
        $("#missing").hide();
        $("#get_missing").hide();

        repoMovies = null;

        $("#listBtn").click(function() {
            $.ajax({
                url: "/repo/list",
                method: "POST",
                data: {
                    hostname: $("#hostname").val(),
                    port: $("#port").val()
                },
                success: function (data) {
                    repoMovies = JSON.parse(data)
                    renderMissing(repoMovies);
                }
            });
        });

        $("#get_missing").click(function () {
            console.log("doing");
            var selectedElements = $(".missing_movie:checked");
            var selectMovieIds = [];
            for(var i=0; i<selectedElements.length; ++i) {
                selectMovieIds[i] = selectedElements[i].value;
            }
            selectMovies = repoMovies.filter(function (movie) {
                return selectMovieIds.indexOf(movie.movie_id.toString()) > -1;
            });
            selectMovies = JSON.stringify(selectMovies);
            console.log(selectMovies);
            $.ajax({
                            url: "/repo/get",
                            method: "POST",
                            data: {
                                hostname: $("#hostname").val(),
                                port: $("#port").val(),
                                missing_movies: selectMovies
                            },
                            success: function(data) {
                                alert(data);
                            }
                        });

        });
});
{% endblock %}