{% extends "base.jinja2" %}
{% block body %}
<input type="text" id="hostname" placeholder="hostname"> </input>
<input type="text" id="port" placeholder="port"> </input>
<button id="listBtn"> List </button>
<table id="movie_details" border=1> </table>
<button id="get_missing"> get missing </button>
{% endblock %}

{% block javascript %}
$(document).ready(function() {
        $("#missing").hide();
        $("#get_missing").hide();

        repoMovies = null;

        $("#listBtn").click(function() {
            $.ajax({
                url: "/repo/list",
                method: "POST",
                data: {
                    hostname: $("#hostname").val(),
                    port: $("#port").val()
                },
                success: function (data) {
                    repoMovies = JSON.parse(data);
                    renderMovies(repoMovies, true);
                    $("#get_missing").show();
                }
            });
        });

        $("#get_missing").click(function () {
            var selectMovieIds = getSelectedMovieIds();

            selectMovies = repoMovies.filter(function (movie) {
                return selectMovieIds.indexOf(movie.movie_id.toString()) > -1;
            });
            selectMovies = JSON.stringify(selectMovies);
            $.ajax({
                            url: "/repo/get",
                            method: "POST",
                            data: {
                                hostname: $("#hostname").val(),
                                port: $("#port").val(),
                                missing_movies: selectMovies
                            },
                            success: function(data) {
                                alert(JSON.stringify(data));
                            }
                        });

        });
});
{% endblock %}